*
{
    box-sizing: border-box;
}

body
{
    background: darkgray;
}

#home-page
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forfait
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tag
{
    display: inline;
}

.nav-head
{
    display: inline;
    border: 2px solid aquamarine;
    border-radius: 10px 100px / 100px;
    box-shadow: 2px 2px 3px teal;
    background: #00b3b3;
    margin: auto;
    padding: 5px;
}
.nav-head > a
{
    text-decoration: none;
}

div.nav-head-triangle
{
    width: 70%;
    height: 50px;
    background: grey;
    overflow: hidden;
    position: relative;
}

.nav-head-triangle::before
{
    content: "";
    height: 50px;
    width: 50px;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    left: -38px;
}

.art-content
{
    width: 300px;
    height: 200px;
    overflow: hidden; /*scroll hidden*/

}

.art-img
{
    width: 300px;
}

.art-contender
{
    width: 300px;
    background-color: azure;
    padding: 10px;
    overflow: hidden; /*clear fix*/
    border: 5px solid black;
    position: relative;
}

.art-button
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: orange;
}

ul
{
    list-style:none;
}

#formulaire
{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.align
{
    display: inline;
}

@media ( max-width:600px ) {
    ul
    {
        display: flex;
        flex-direction: column;
    }

    div.nav-head-triangle
    {
        width: 70%;
        height: auto;
        background: grey;
        overflow: auto;
        position: relative;
    }
}

@media ( max-width:1024px ) {
    .nav
    {
        display: flex;
    }

    .nav-head
    {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-head-triangle:before
    {
        display: none;
    }
}
